
<div class="col-md-6 col-md-offset-3">
<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :note %>
      <%= f.association :customer,
      collection: Customer.where(user_id:current_user.id).all(order: 'name')%>

    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit,class:"btn btn-success" %>
	<%= link_to 'Back', customers_path,:class=>"btn btn-primary" %>
  </div>
<% end %>
</div>
