<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :note %>
    <%= f.association :customer %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit,class:"btn btn-primary" %>
	<%= link_to 'Back', customers_path,:class=>"btn btn-primary" %>
  </div>
<% end %>
