<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :note %>
    <%= f.hidden_field :customer_id,:value=>@customer_id.to_i%>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit,class:"btn btn-primary" %>
	<%= link_to 'Back', emails_path(customer_id:@customer_id||@note.customer_id),:class=>"btn btn-primary" %>
  </div>
<% end %>
