

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer),:class=>"btn btn-warning" %> |
<%= link_to 'Back', customers_path ,:class=>"btn btn-sucess"%>
