<style type="text/css">
.header{
  width: 44px;
}

.buttons {
  opacity: 0.2;
  text-decoration: none;
}
.buttons:hover{
  opacity: 1;
  text-decoration: none;
}
.dropZone {
  width:90%;
  height:90%;
  margin: 0 auto
  -moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
-moz-box-shadow: 0px 0px 6px #000000;
-webkit-box-shadow: 0px 0px 6px #000000;
box-shadow: 0px 0px 6px #000000;
display: inline-block;

}
.dropWraper {
  width: 100%;
  height: 200px;
  text-align: center;
}


.tableRow {
  display: table-row;
}

.draggin {
-webkit-transform: translate(-1px, 1px) rotate(4deg) skew(-10deg, 5deg) scale(1, 0.8);
-moz-transform: translate(-1px, 1px) rotate(4deg) skew(-10deg, 5deg) scale(1, 0.8);
-o-transform: translate(-1px, 1px) rotate(4deg) skew(-10deg, 5deg) scale(1, 0.8);
-ms-transform: translate(-1px, 1px) rotate(4deg) skew(-10deg, 5deg) scale(1, 0.8);
transform: translate(-1px, 1px) rotate(4deg) skew(-10deg, 5deg) scale(1, 0.8);

}
.card {
  margin: 0 auto;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 60px;
  border: 1px #DDD solid;
  background: linear-gradient(to bottom, #F8F8F8 0px, #ECECEC 100%) repeat-x scroll 0% 0% #F2F2F2;
}
.tableContainer {
  width:100%;
  padding-top: 10px;
}

</style>
<!-- inline scripts related to this page -->
    <script type="text/javascript">
      jQuery(function($) {

/* initialize the external events
  -----------------------------------------------------------------*/

  $('#external-events div.external-event').each(function() {

    // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
    // it doesn't need to have a start or end
    var eventObject = {
      title: $.trim($(this).text()) // use the element's text as the event title
    };

    // store the Event Object in the DOM element so we can get to it later
    $(this).data('eventObject', eventObject);

    // make the event draggable using jQuery UI
    $(this).draggable({
      zIndex: 999,
      revert: true,      // will cause the event to go back to its
      revertDuration: 0  //  original position after the drag
    });
    
  });




  /* initialize the calendar
  -----------------------------------------------------------------*/

  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

  var updateProspect;  
  var calendar = $('#calendar').fullCalendar({
    //isRTL: true,
     buttonHtml: {
      prev: '<i class="ace-icon fa fa-chevron-left"></i>',
      next: '<i class="ace-icon fa fa-chevron-right"></i>'
    },
  
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    events: '/prospects.json'
    ,
    
    editable: true,
    eventDrop: function(event, delta, revertFunc) {

        //alert(event.title + " was dropped on " + event.start.format());
        if (!confirm("Are you sure about this change?")) {

          revertFunc();
        }
        else{
          $.ajax({
            type:"PUT",
            url: "/prospects/"+event.id,
            data: {prospect:{due_date:event.start.format()},ajax:1}
         
          });
        }


    },
    droppable: true, // this allows things to be dropped onto the calendar !!!
    drop: function(date, allDay) { // this function is called when something is dropped
    
      // retrieve the dropped element's stored Event Object
      var originalEventObject = $(this).data('eventObject');
      var $extraEventClass = $(this).attr('data-class');
      
      
      // we need to copy it, so that multiple events don't have a reference to the same object
      var copiedEventObject = $.extend({}, originalEventObject);
      
      // assign it the date that was reported
      copiedEventObject.start = date;
      copiedEventObject.allDay = allDay;
      if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];
      
      // render the event on the calendar
      // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
      $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
      
      // is the "remove after drop" checkbox checked?
      if ($('#drop-remove').is(':checked')) {
        // if so, remove the element from the "Draggable Events" list
        $(this).remove();
      }
      
    }
    ,
    selectable: true,
    selectHelper: true,
    select: function(start, end, allDay) {
      
      // bootbox.prompt("New Event Title:", function(title) {
      //   if (title !== null) {
      //     calendar.fullCalendar('renderEvent',
      //       {
      //         title: title,
      //         start: start,
      //         end: end,
      //         allDay: allDay
      //       },
      //       true // make the event "stick"
      //     );
      //   }
      // });
      

      //calendar.fullCalendar('unselect');
    }
    ,
    eventClick: function(calEvent, jsEvent, view) {

      //display a modal
        //display a modal
      var edit_url = "/prospects/"+calEvent.id+"/edit";
      var modal = 
      '<div class="modal fade">\
        <div class="modal-dialog">\
         <div class="modal-content">\
         <div class="modal-body">\
           <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
           <form class="no-margin" action="">\
            <label>Customer Name & city &nbsp;</label>\
            <input readonly ="readonly" class="middle input-large" autocomplete="off" type="text" value="' + calEvent.title + '" />\
           <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Convert to Client</button>\
           </form>\
         </div>\
         <div class="modal-footer">\
          <a href="'+edit_url+'" class="btn btn-sm btn-warning" data-action="edit"><i class="ace-icon fa fa-pencil-square-o"></i> Edit</a>\
          <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete</button>\
          <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
         </div>\
        </div>\
       </div>\
      </div>';
    
    
      var modal = $(modal).appendTo('body');
      modal.find('form').on('submit', function(ev){
        ev.preventDefault();

        calEvent.title = $(this).find("input[type=text]").val();
        calendar.fullCalendar('updateEvent', calEvent);
        console.log("calEvent",calEvent);
        $.ajax({
            type:"POST",
            url: "/ajax/drop",
            data: {id:calEvent.id,ajax:1}
         
          });
        calendar.fullCalendar('removeEvents' , function(ev){
          return (ev._id == calEvent._id);
        })
        modal.modal("hide");
      });
      modal.find('button[data-action=delete]').on('click', function() {
        calendar.fullCalendar('removeEvents' , function(ev){
          $.ajax({
            type:"DELETE",
            url: "/prospect/"+calEvent.id
         
          });
          return (ev._id == calEvent._id);
        })
        modal.modal("hide");
      });
      
      modal.modal('show').on('hidden', function(){
        modal.remove();
      });
    
    
      
      


      // console.log(calEvent.id);
      // console.log(jsEvent);
      // console.log(view);

      // change the border color just for fun
      //$(this).css('border-color', 'red');

    }
    
  });


})

    </script>

<%-if user_signed_in?%>
<div class="top-padding-10 col-sm-9">
  <span>
    <%= link_to  new_prospect_path, :class=>"btn btn-success btn-padding" do%>
    <span class="menu-icon fa fa-pencil-square-o"></span> New Task
    <%end%>
  </span>
  <span>
    <%= link_to  new_stage_path, :class=>"btn btn-warning btn-padding" do%>
    <span class="menu-icon fa fa-tag"></span> New Stage
    <%end%>
  </span>
  <span>
    <%= link_to  stages_path, :class=>"btn btn-primary btn-padding" do%>
    <span class="glyphicon glyphicon-tasks"></span> Manage Stages
    <%end%>
  </span>
  <!--<%= link_to 'Link', new_prospect_path, :remote => true %>-->

</div>
<div class="col-sm-9">
<div class="space"></div>

<!-- #section:plugins/data-time.calendar -->
<div id="calendar"></div>

<!-- /section:plugins/data-time.calendar -->
<%= hidden_field_tag 'userId', current_user.id%>
<div style="display:none">
  <%@prospects.each do |prospect|%>
    <%=render :partial => 'prospect_card', :locals => {:prospect => prospect}%>
  <%end%>

</div>
<div class = "tableContainer" style=";">
  <table class="table table-bordered" style="table-layout: fixed">
    <thead>
      <tr style="display:table-row">
        <% @stages.each do |stage|%>
          <th data-stage-id = "<%= stage.id%>"><%= stage.name%></th>
        <%end %>
        <th data-drop-zone = 1> Convert to Client</th>
      </tr>
    </thead>
    <tbody>
      <tr class = "tableRow" style="text-align: center">
      <%@stages.each do |stage|%>
          <td class = "stageRow" data-stage-id = "<%= stage.id%>" style = "align:center"></td>
      <% end %>
          <td class = "stageRow" data-drop-zone = 1></td>
      </tr>
    </tbody>
  </table>
</div> 

<%else%>
<div class="jumbotron">
      <div class="container">
        <h1>Getting started</h1>
        <p>Customer Restaionship Management</p>

      </div>
    </div>
<%end%>

</div>