<style type="text/css">
.header{
  width: 44px;
}

span .dropZone {
  border-style: dotted;
  border-color: red;
  display: inline;
}

.tableRow {
  display: table-row;
}
.card {
  word-wrap: break-word;

  margin: 0px;
  width: 100px;
  height: 60px;
  border: 1px #000000 solid;
  background-color: #ebeaea;
}
.tableContainer {
  width:100%;
  padding-top: 10px;
}

</style>


<%-if user_signed_in?%>

<div class="top-padding-10">
  <span>
    <%= link_to  new_prospect_path, :class=>"btn btn-success btn-padding" do%>
    <span class="glyphicon glyphicon-user"></span> New Prospect
    <%end%>
  </span>
  <div class = "dropZone">

  </div>
</div>
<div style="">
  <%@prospects.each do |prospect|%>
    <%=render :partial => 'prospect_card', :locals => {:prospect => prospect}%>
  <%end%>

</div>
<div class = "tableContainer" style=";">
  <table class="table table-bordered" style="table-layout: fixed">
    <thead>
      <tr style="display:table-row">
        <% @stages.each do |stage|%>
          <th data-stage-id = "<%= stage.id%>"><%= stage.name%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr class = "tableRow" style="text-align: center">
      <% @stages.each do |stage|%>
          <td class = "stageRow" data-stage-id = "<%= stage.id%>" style = "align:center"></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>
<%else%>
<div class="jumbotron">
      <div class="container">
        <h1>Getting started</h1>
        <p>Customer Restaionship Management</p>

      </div>
    </div>
<%end%>
