<style type="text/css">
.header{
  width: 44px;
}

.buttons {
  opacity: 0.2;
  text-decoration: none;
}
.buttons:hover{
  opacity: 1;
  text-decoration: none;
}
.dropZone {
  width:90%;
  height:90%;
  margin: 0 auto
  -moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
-moz-box-shadow: 0px 0px 6px #000000;
-webkit-box-shadow: 0px 0px 6px #000000;
box-shadow: 0px 0px 6px #000000;
display: inline-block;

}
.dropWraper {
  width: 100%;
  height: 200px;
  text-align: center;
}


.tableRow {
  display: table-row;
}

.card {
  word-wrap: break-word;

  margin: 0px;
  width: 100px;
  height: 60px;
  border: 1px gray solid;
}
.tableContainer {
  width:100%;
  padding-top: 10px;
}

</style>


<%-if user_signed_in?%>
<div class="top-padding-10">
  <span>
    <%= link_to  new_prospect_path, :class=>"btn btn-success btn-padding" do%>
    <span class="glyphicon glyphicon-user"></span> New Prospect
    <%end%>
  </span>
  <span>
    <%= link_to  new_stage_path, :class=>"btn btn-success btn-padding" do%>
    <span class="glyphicon glyphicon-user"></span> New Stage
    <%end%>
  </span>
  <span>
    <%= link_to  stages_path, :class=>"btn btn-primary btn-padding" do%>
    <span class="glyphicon glyphicon-tasks"></span> Manage Stages
    <%end%>
  </span>
  <!--<%= link_to 'Link', new_prospect_path, :remote => true %>-->

</div>
<%= hidden_field_tag 'userId', current_user.id%>
<div style="display:none">
  <%@prospects.each do |prospect|%>
    <%=render :partial => 'prospect_card', :locals => {:prospect => prospect}%>
  <%end%>

</div>
<div class = "tableContainer" style=";">
  <table class="table table-bordered" style="table-layout: fixed">
    <thead>
      <tr style="display:table-row">
        <% @stages.each do |stage|%>
          <th data-stage-id = "<%= stage.id%>"><%= stage.name%></th>
        <% end %>
        <th data-drop-zone = 1> Convert to Client</th>
      </tr>
    </thead>
    <tbody>
      <tr class = "tableRow" style="text-align: center">
      <% @stages.each do |stage|%>
          <td class = "stageRow" data-stage-id = "<%= stage.id%>" style = "align:center"></td>
      <% end %>
          <td class = "stageRow" data-drop-zone = 1></td>
      </tr>
    </tbody>
  </table>
</div>

<%else%>
<div class="jumbotron">
      <div class="container">
        <h1>Getting started</h1>
        <p>Customer Restaionship Management</p>

      </div>
    </div>
<%end%>
