

<p>
  <strong>Name:</strong>
  <%= @prospect.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @prospect.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @prospect.city %>
</p>

<%= link_to 'Edit', edit_prospect_path(@prospect),:class=>"btn btn-warning" %> |
<%= link_to 'Back', prospect_path ,:class=>"btn btn-sucess"%>
