<div class="breadcrumbs col-sm-12" id="breadcrumbs">

          <ul class="breadcrumb">
            <li>
              <i class="glyphicon glyphicon-home"></i>
              <%= link_to 'Home', customers_path %>
            </li>
            <li class="active"><%=@customer.name%></li>

          </ul>
</div>
<div class="col-sm-7">
  <!--<h4>Listing Contact for Customer <%=@customer.name%></h4>-->

  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <td colspan="4" class="active">
          <strong>Contacts</strong>
        </td>
      <tr>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.company %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <!--<td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="col-sm-4">
<table class="table table-bordered table-striped">
  <thead>

    <tr class="active">
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<table class="table table-bordered table-striped">
  <thead>
    <tr class="active">
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.note %></td>
        <!--<td><%= link_to 'Show', note %></td>-->
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>