
<div class="col-sm-7">
  <!--<h4>Listing Contact for Customer <%=@customer.name%></h4>-->


  <table class="table table-bordered table-striped">
    <thead>
      <tr >
        <td colspan="4" class="active">
          <strong>Contacts</strong>
        </td>
      <tr>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.company %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <!--<td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
$(document).ready(function(){
  $('.header').click(function () {
    var $this = $(this);
    $(this).nextUntil('tr.header').slideToggle(100).promise().done(function () {
        $this.find('span').text(function (_, value) {
            return value == '+' ? '-' : '+'
        });
    });
});
});
</script>

<div class="col-sm-4">
  <div class ="margin-10">
  <%= link_to  new_email_path ,:class=>" btn-padding btn btn-small btn-warning" do%>
        <span class="glyphicon glyphicon-envelope"></span> New Email
  <%end%>
  <%= link_to  new_note_path ,:class=>" btn btn-small btn-danger btn-padding" do%>
    <span class="glyphicon glyphicon-comment"></span> New Note
  <%end%>
</div>
<table class="table table-bordered table-striped">
  <tr >
    <td class="active">
      <strong>Emails</strong>
    </td>
    <td class="active">
      <strong>Date</strong>
    </td>
   <% @emails.each do |e| %>
   <%-if !e.contact_id.blank? %><%-email_data= Contact.select("email,created_at").find(e.contact_id).email %><%end%>
  <tr  class="header">
    <td  title="Click to Expand"><%=email_data%></td>
    <td><%=e.created_at%></td>
  </tr>
  <tr  style="display:none">
    <td><%=e.subject%></td>
    <td><%=e.message%></td>
  </tr>
  <%end%>
  <tr>
    <td class="active">
      <strong>Notes</strong>
    </td>

    <td class="active">
      <strong>Date</strong>
    </td>
  </tr><% @notes.each do |note| %>
      <tr>
        <td><%= note.note %></td>
        <td><%=note.created_at %></td>
        
      </tr>
    <% end %>
</table>








</div>