<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Crm App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Crm App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="no-skin">

      <%= render 'layouts/navigation' %>
      <%= render 'layouts/messages' %>
        <div class="page-content-area">
            <!-- <div class="page-header">
              <h1>
                Widgets
                <small>
                  <i class="ace-icon fa fa-angle-double-right"></i>
                  Draggabble Widget Boxes &amp; Containers
                </small>
              </h1>
            </div> --><!-- /.page-header -->

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
<%= yield %>


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
      </div><!-- /.main-content -->
<%= render 'layouts/footer' %>
